@font-face {
    font-family: 'iPix';
    src: url("/res/font/IPix.ttf");
}

:root{
    font-size: calc(0.5em + 1vw);
}

body {
    font-family: 'iPix','Sans-serif';
    background-color: rgb(255, 251, 246);
}

.titleContainer {
    margin: auto;
    margin-top: 1.5rem;
}

.titleContainer > h1 {
    font-size: 5rem;
}

.container#page1 {
    height: 90vh;
}

#clockContainer{
    justify-content: center;
}

#clockContainer > div{
    margin-top: 1.3rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 5rem;

}

#clockContainer > .col-sm-2 > .numberContainer{
    background-color: rgb(48, 48, 48);
    color: rgb(217, 217, 217);
    box-shadow: 5px 5px 10px 3px rgba(48, 48, 48, 0.7);

    border-radius: 1.5rem;
    width: calc(5rem + 5px);

    position: relative;
    left: 20%;
}

#colon{
    position: relative;
    background-color: none;
    top: -0.5rem;
    left: 0.5rem;
    text-shadow: 5px 5px 10px rgba(48, 48, 48, 0.7);
}

#startButtonContainer{
    justify-content: center;
}

#containerButton{
    width: calc(10rem + 20px);
    height: calc(3rem + 5px);
    display: flex;

    box-shadow: 5px 5px 10px 3px rgba(48, 48, 48, 0.7);

    background-color: rgb(217, 217, 217);
    border:3px solid rgb(48, 48, 48);
    border-color: rgb(48, 48, 48);
    border-radius: 1rem;
}

button#wrappedButton{
    width: calc(8rem + 20px);
    height: calc(3rem + 5px);
    outline: none;

    background-color: rgb(48, 48, 48);
    border-radius: 1rem;
    border:0;

    position: relative;
    left: -3px;
    top: -3px;

    font-size: 2rem;
    color: rgb(217, 217, 217);
}

input#inputTimes{
    width: 1.3rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;

    background:none;  
	outline:none;  
	border:none;

    position: relative;
    left: 0.2rem;
    padding-top: 0.7rem;

    border-bottom: 1.5px solid rgb(48, 48, 48);
}

#wordContainer{
    margin: auto;
    margin-top: 2rem;
}
#wordContainer > p{
    line-height: 1.5rem;
    font-size: 2rem;
}
#wordContainer > p >input{
    background:none;  
	outline:none;  
	border:none;

    width: 2.5rem;
    text-align: center;

    border-bottom: 1.5px solid rgb(48, 48, 48);
}

hr.normal-hr{
    clear:both;
    width: 90vw;
    border-top: 3px solid rgba(48, 48, 48,0.8);
}

div#midPageContainer{
    width: 90vw;
    margin: auto;
    margin-top: -0.6rem;
    margin-bottom: 5vh;

    font-size: 0.3rem;
}

div#accountContainer{
    float: right;
}

#accountContainer > button#register {
    background-color: rgb(48, 48, 48);
    border-radius: 7px;
    border:0;
    color: rgb(217, 217, 217);
}

div#accountContainer > input{
    background:none;  
	outline:none;  
	border:none;

    width: 4rem;
    text-align: left;

    border-bottom: 1.5px solid rgb(48, 48, 48);
}

#page2 > .row {
    height: 90vh;
}